.boxContainer {
    width: 100%;
    height: 100vh;
    color: white;
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 1000px;
    cursor: pointer;
    position: relative;
    line-height: 70px;
}

.box-front {
    background-color: #0081CF;
    border-radius: 40px;
    box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.75);
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    transform: perspective(300px) rotateX(0deg);
    transition: transform .6s linear;
}

.box-back {
    background-color: rgb(35, 134, 118);
    border-radius: 40px;
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.75);
    color: #B0A8B9;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    transform: perspective(300px) rotateX(180deg);
    transition: transform .6s linear;
}

.box-front-clicked {
    background-color: #0081CF;
    border-radius: 40px;
    box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.75);
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    transform: perspective(600px) rotateX(-180deg);
    transition: transform .6s linear;
}

.box-back-clicked {
    background-color: rgb(35, 134, 118);
    border-radius: 40px;
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.75);
    color: #B0A8B9;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    transform: perspective(600px) rotateX(0deg);
    transition: transform .6s linear;
}

.plate {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #B39CD0;
    cursor: pointer;
    margin-right: 40px;
}

.plate-highlight {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #4B4453;
    cursor: pointer;
    margin-right: 40px;
}

.highlighted {
    box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.75);
    background-color: #FF9671;
}
